/*dropdown menu css*/
.tenPercentWidth
{
  width: 10%
}
.btn:focus {
    outline: none;
    box-shadow:none;
  }

/*
.dropdownBtn:focus
{
    outline:none;
    box-shadow:none;
    
}
*/
 /*remove the gap so it doesn't close*/
/*

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
*/
/*
 .dropdown
 {
    border: 1px solid lightgray;
    
    margin:0px;
 }
 */
 