* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*width = border+content+padding*/
}

body{
    background-color: black;
    margin: 0;
}

header,footer,main,nav, .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

header::after,footer::after,main::after,nav::after, .row::after{
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
}
/*header*/
.banner-top{
    width: 70%;
    padding: 0 0 0 4%;
    color: white;
}

.banner-top h1{
    font-size: 50px;
    font-family: fantasy;
}


.widget-top{
    width: 30%;
}
.widget-top .col-social{

    margin-left: 16%;
}



.widget-top .first{
    margin-left: 0;

}
.widget-top .single{
    margin-left:6px;
    margin-right: 5px;

}

.widget-top li span{
    color: white;
    font-size: 30px;


}

.widget-top .fa-2x{

    font-size: 15px;
    margin-top: 6px;

}

.widget-top .col-input{
    width: 47%;
    margin: 5px 0 0 27% ;

}

.widget-top .submit{
    margin-left: 0;
    border: 0px;
    background-color: white;
}

.widget-top .submit{
    width: 20%;
    border: 0;
    outline: none;
}
.widget-top .inputbox{
    width: 75%;
    border: 0px;
    outline: none;
    padding-left: 10px;
}
/*nav*/
.ul-nav{
    margin: 0;
    padding: 0 4% 0 4%;
    width: 100%;
}
.ul-nav li{

    color: white;
    background-color: red;
    border: 1px solid white;
    font-size: 16px;
    height: 50px;

    text-align: center;

    margin: auto;
    width: 16%;
    padding: 10px;

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color: rgba(0, 0, 0, 0.1);
}
.ul-nav .dropdown{
    display: none;
    background-color: inherit;
    position: absolute;
    top: 36%;
    left: 4%;
    width: 18%;
}
.ul-nav li:hover{
    background-image: linear-gradient(to bottom, #ca2e0d, #e86a1f);
}

/*footer*/

.footer-banner{
 

    color:white;
    font-size: 30px;
    font-family: fantasy;
    padding: 5% 0 0 4%;
}
.footer-links {
    width: 70%;
    padding: 5% 7.5% 0 0;
    
    margin-left: auto;
   

}
.footer-links ul{
    width: 90%;
}

.footer-links .first{
    padding-left: 0.8%;
    border: 0;
}
.footer-links .last{
    padding-right: 0;
}
.footer-links li{
    padding: 0 3%;
    border-left: 1px solid lightgray;
    
}

.footer-links a{
    color: white;
    text-decoration: none;
}

/*general*/
.left{
    float: left;
}
.right{
    float: right;
}
.bg-white{
    background-color: white;
}
.invisible{
    visibility: hidden;
}
.m-only{
    display: none;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 576px) {
}


@media screen and (max-width: 768px) {
    /*header*/
    
    .banner-top {
        padding:35px 30px 0px;
    }
    .banner-top h1{
        text-align: center;
        font-size: 30px;
    }

    .widget-top .col-social{

        margin-left: 13%;
    }
    .widget-top .col-input{
        width: 57%;
        margin-left: 20%;
    }

    .widget-top .submit{
        width: 20%;

    }
    .widget-top .inputbox{
        width: 75%;

    }



    .select-nav{
        margin: 5% 0 0 20%;
        width: 57.5%;
        padding: 0 2%;
    }

    /*footer*/
    footer{
        text-align: center;
    }
    .footer-banner{
        padding: 5% 2.5% 0 0;
    }

    .footer-links ul{
        float: none;
    }
    .footer-links li{
        text-align: center;
        border: 0;
        padding: 0;
    }

    /*genearl*/
    .col-resize-m{
        /*col for deskt*/
        width: 100%;
    }
    .m-only{
        display: block;
    }
    .d-only{
        display: none;
    }
}
