/* tablet max 1024  mobile max 719 */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*width = border+content+padding*/
}

body{
    background-color: black;
    margin: 0;
}

header,footer,main,nav, .row {
    width: 100%;
    margin: 0;
    padding: 0;
}

header::after,footer::after,main::after,nav::after, .row::after{
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
}
/*header*/
/*banner top*/
.banner-top{
    width: 70%;
    padding-left: 5%;
    color: white;
}

.banner-top h1{
    font-size: 50px;
}


/*top widget*/
.widget-top{
    width: 30%;
    padding-right: 5%;

}

/*top social*/
.col-social{
    width: 100%;
    text-align: right;
}
.col-social .item{
    text-align: center;
}
.widget-top .fa-2x{
    vertical-align: middle;
    font-size: 15px;
}
.widget-top .spacer{
    padding-left: 1%;
}
.widget-top .single{
    vertical-align: middle;
    font-size: 30px;
    padding-right: 1.2%;

}
.widget-top .single.last{
    
    padding-right: 0%;

}
/*top input*/
.widget-top .col-input{
    width: 47%;
    margin-top: 3%;
    vertical-align: middle;
}

.widget-top .submit{
    margin-left: 0;
    padding-top: 2%;
    border: 0px;
    background-color: white;
}

.widget-top .submit{
    width: 20%;
    border: 0;
    outline: none;
}
.widget-top .inputbox{
    width: 75%;
    border: 0px;
    outline: none;
    padding-left: 10px;
}
/*nav*/
.nav {
    list-style-type: none;
    margin: 0 4%;
    padding: 0 0.5% 0 1%;
    margin: 0 4.9%;
    overflow: hidden;   
    background-color: red;
}

.nav li {
    float: left;
    width: 16.6%;
    background-color: red;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color: rgba(0, 0, 0, 0.1);
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.nav li:hover{
    background-image: linear-gradient(to bottom, #ca2e0d, #e86a1f);
}

/*footer*/

.footer-banner{
 

    color:white;
    font-size: 30px;
    font-family: fantasy;
    padding: 5% 0 0 5%;
}
.footer-links {
    width: 70%;
    padding: 5% 5% 0 0;
    
    margin-left: auto;
   

}
.footer-links ul{
    width: 100%;
}

.footer-links .first{
    padding-left: 20%;
    border: 0;
}
.footer-links .last{
    margin-right: 0;
}
.footer-links li{
    padding-left: 1%;
    margin: 0 3% 0 0;
    border-left: 1px solid lightgray;
    white-space: nowrap;
    
}



.footer-links a{
    color: white;
    text-decoration: none;
}

/*general*/
.left{
    float: left;
}
.right{
    float: right;
}
.bg-white{
    background-color: white;
}
.invisible{
    visibility: hidden;
}
.m-only{
    display: none;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}

/*tablet*/
/*
@media screen and (max-width: 1024px) {
}
*/




/*tablet*/
@media screen and (max-width: 1024px) {
    /*header*/
    
    .banner-top {
        padding-top:5%;
        padding: 5% 0 2% 0;
        text-align: center;
    }
    .banner-top h1{
        text-align: center;
        font-size: 30px;
    }

    .widget-top{
        padding: 0;
    }
    .widget-top .col-social{
        text-align: center;
  
    }
    .widget-top .col-input{
        width: 50%;
        text-align: center;
        float: none;
        margin: 3% 0% 3% 25%;
        height: 30px;
    }

    .widget-top .submit{
        width: 20%;
        padding-top: 1%;
    }
    .widget-top .inputbox{
        width: 80%;
        padding: 0;
    }



    .select-nav{
        margin: 5% 0 0 20%;
        width: 57.5%;
        padding: 0 2%;
    }

    /*footer*/
    footer{
        text-align: center;
    }
    .footer-banner{
        padding: 5% 0% 0 0;
    }
    .footer-links{
        padding: 5% 0;
    }
    .footer-links ul{
        float: none;
    }
    
    .footer-links li{
    
        text-align: center;
        border: 0;
        padding: 0;
       
        margin: 1% 27% 1% 23%;
        /*
        margin: 1% 25% 1% 25%;
         */
        width: 50%;
    }
    .footer-links .first{
        padding-left: 0;
    }
    /*genearl*/
    .col-resize-m{
        /*col for deskt*/
        width: 100%;
    }
    .m-only{
        display: block;
    }
    .d-only{
        display: none;
    }
}
